# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.BattleTank.iml
# Datasource local storage ignored files
/../../../../../../../:\Programming\Unreal Projects\BattleTank\.idea\.idea.BattleTank\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
